<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Data Source=192.168.22.23,1433;Initial Catalog=Phanlichphongkham;User ID=dungct;Password=1234;Encrypt=True;Trust Server Certificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
